@import "reset";

$fonts: "Source Sans Pro", sans-serif;
$fg: rgba(255,255,255,1);
$bg-light: rgba(37,37,37,1);
$hl: rgba(63,86,165,1);

$w: 960px;
$h: 80px;
$spacing: 16px;

html {
    min-height: 100%;
}

body {
    background: url("../images/hex.png"), radial-gradient(circle, rgba(57,84,141,1) 0%, rgba(13,19,32,1) 100%), no-repeat;
    
    color: $fg;
    font-family: $fonts;
}

.center {
    width: $w;
    margin: auto;
}

#menu-row {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: $h;
    background-color: $bg-light;
    padding: $spacing / 2;
}

#logo {
    display: inline-block;
    color: $fg;
    text-decoration: none;
    
    img {
        vertical-align: top;
        height: $h - $spacing;
    }
    
    h1, h2 {
        line-height: $spacing * 2;
        margin: 0;
    }

}

#menu nav {
   ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
        color: $fg;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: $spacing * 2;
        font-size: 20px;
        
        transition: text-shadow 200ms ease;
        
        &:hover {
            text-shadow: 0 0 10px $fg;
        }            
    }        
}

@media only screen and (min-width: 1024px) {
    #logo-text {
        vertical-align: top;
        margin: 0 $spacing;
        display: inline-block;
    }
    
    #menu {
        display: inline-block;
        float: right;
        
        nav ul li {
            display: inline-block;
            float: right;
            margin: 0 $spacing;
            
            &:first-child {
            /* First-child, because the float reverses the order.
            * It's actually going to be the last child.
            */
                margin-right: 0;
            }
        }
        
        #social-media li {
            margin: 0 2px;
            height: 32px;
            width: 30px;
            
            a {
                display: inline-block;
                height: 32px;
                width: 30px;
            }
            
            img {
                height: 30px;
                width: 30px;
                margin: 2px 0 0 0;
            }
        }
    }
}