@import "reset"

$fonts: "Source Sans Pro", sans-serif
$fg: rgba(255,255,255,1)
$bg-light: rgba(37,37,37,1)
$bg-dark: rgba(17,17,17,1)
$hl: rgba(63,86,165,1)

$w: 960px
$h: 80px
$spacing: 16px

html
    min-height: 100%
    
body
    background: url("../images/hex.png"), radial-gradient(circle, rgba(57,84,141,1) 0%, rgba(13,19,32,1) 100%), no-repeat
    color: $fg
    font-family: $fonts

.center
    width: $w
    margin: auto

header
    #menu-row
        width: 100%
        height: $h
        background-color: $bg-light

        a
            text-decoration: none
            color: $fg

        #logo
            display: inline-block
            
            img
                height: $h - $spacing
                vertical-align: middle

            h1, h2
                margin: 0
                line-height: 32px
        
        #menu
            nav
                ul
                    list-style: none
                    
                    li
                        a
                            text-transform: uppercase
                            //font-weight: 400
                            letter-spacing: 2px
                            line-height: $h / 2
                            font-size: 20px
                    
            
@media only screen and (min-width: 1024px)
    header
        #menu-row
            #logo
                img
                    margin: $spacing / 2 0

                #logo-text
                    display: inline-block
                    vertical-align: middle
                    margin: 0 $spacing

            #menu
                display: inline-block
                float: right

                nav
                    height: $h / 2
                    
                    ul
                        
                        li
                            display: inline-block
                            float: right
                            margin: 0 $spacing  
                            
                            &::last-child
                                margin-right: 0



